* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Orbitron", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    color: rgb(255, 255, 255);
    background-size: cover;
    background: linear-gradient(to top, rgb(16, 204, 204) 2%, black);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;    

    .color {
        position: absolute;
        filter: blur(150px);

        &:nth-child(1) {
            top: -5vh;
            background: violet;
            width: 200px;
            height: 200px;
        }

        &:nth-child(2) {
            left: 5vh;
            background: red;
            width: 200px;
            height: 200px;
        }

        &:nth-child(3) {
            right: 5vh;
            background: blue;
            width: 200px;
            height: 200px;
        }
    }
}

/* header */
.header {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    width: 90vw;
    background-color: #35353554;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 0.5%;

    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0% 2%;
        
    }

    .lista {
        list-style: none;
        display: flex;
        gap: 1 rem;
        li {

            .botonNav {
                width: 150px;
                height: 50px ;
                font-size: 16px;
                color: white;
                background: transparent;
                border-radius: 10px;
                border-color: rgba(255, 255, 255, 0.589);
                margin: 0 5px;
                box-shadow: 2px 2px rgb(56, 56, 56);
    
                :hover {
                    color: red;
                    font-size: larger;
                }
    
                a {
                    text-decoration: none;
                    color: white;
                    text-shadow: 2px 2px black;
                }
            }
        }
    }

    .hamburguesa{
        display: none;        
    }
    @media screen and (max-width: 768px) {
        .hamburguesa{
            display: block;
        }
        .nav{
            opacity: 0;
            visibility: hidden;
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 0;
            right: 10vw;
            background: rgb(0, 0, 0);
            padding: 10px;
            border: solid rgba(145, 145, 145, 0.425);
            box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);            
        }
        .lista{
            flex-direction: column;
        }
        .nav.visible{
            opacity: 1;
            visibility: visible;
        }
    }

    .logo {
        display: flex;
        align-items: center;
        padding: 0% 2%;
        text-decoration: none;
        color: cyan;

        img {
            border-radius: 50%;
            width: 70px;
            margin: 5px;
        }

        h1 {
            margin-left: 5px;
        }
    }
}

.tituloSection {
    text-align: center;
    margin: 5px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 2vh;
    section {
        justify-content: center;
        align-items: center;
        transform-style: preserve-3d;
        width: 100%;
        flex-wrap: wrap;

        .card {
            position: relative;
            width: 15vw;
            min-width: 200px;
            height: 42vh;
            min-height: 300px;
            margin: 20px;
            transform-style: preserve-3d;
            border-radius: 15px;
            overflow: hidden;

            .box {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transform-style: preserve-3d;
                transition: 1s ease-in-out;
            }

            &:hover {
                .box {
                    transform: rotateY(540deg);
                }
            }

            .imgBox {
                position: absolute;
                width: 100%;
                height: 100%;

                img {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .contentBox {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(180deg, rgb(179, 0, 0), rgb(218, 123, 15));
                transform: rotateY(180deg);
                display: flex;
                justify-content: center;
                align-items: center;
                transform-style: preserve-3d;
                backface-visibility: hidden;

                div {
                    width: 100%;
                    transform-style: preserve-3d;
                    transform: translateZ(80px);
                    background: transparent;
                    padding: 20px;
                    border-radius: 15px;
                    letter-spacing: 1px;
                    text-align: center;
                    color: white;
                    p {
                        margin-top: 20px;
                    }
                    @media (max-width: 768px) {
                        h1{
                            font-size: 100%
                        }
                        p {
                            font-size: 80%;
                        }
                    }
                }
            }
        }
    }
}

.peliculasTendencia {
    display: flex;
    width: 80vw;    
    .peliculas {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
    @media (max-width: 1200px) {
        .peliculas {
            grid-template-columns: repeat(4, 1fr);
        }
    }
    @media (max-width: 992px) {
        .peliculas {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    @media (max-width: 768px) {
        .peliculas {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    @media (max-width: 576px) {
        .peliculas {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

footer {
    position: relative;
    background-color: #35353554;
    backdrop-filter: blur(10px);
    text-align: center;
    justify-content: center;
    height: 50px;
    width: 100vw;
    padding-top: 20px;
    border-start-end-radius: 15px;
    border-top-left-radius: 15px;
}